# Shared
APP_INTERNAL_PORT=3000
DOCKER_RESTART_POLICY=unless-stopped
NEXT_TELEMETRY_DISABLED=1

# Development compose
DOCKER_APP_PORT_DEV=3000
DOCKER_CONTAINER_NAME_DEV=portofolio-dani-dev
WATCHPACK_POLLING=true
CHOKIDAR_USEPOLLING=true

# Production compose
DOCKER_APP_PORT_PROD=3000
DOCKER_CONTAINER_NAME_PROD=portofolio-dani
